<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="/css/index/index.css">
    <link rel="stylesheet" href="/css/index/circle.css">
    <link rel="stylesheet" href="/css/index/navigation.css">
    <link rel="stylesheet" href="/css/index/popup.css">
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    <title>Kiadások</title>
    <style>
      body{
        font-family: 'Kameron';
         font-size: 22px;
      }
    </style>
</head>
<%- include('./include/navigation.ejs' ) %>
<body>
  <div class="headline">
    <h1>
      Üdvözlünk az oldalon, <%= username %>.
    </h1>
  </div>
  <main>
    <div class="transactions">
      <h2>Tranzakciók</h2>
        <div class="transaction-list" id="transaction-list">
          <% expenses.forEach(expense => {%>
            <div class="row">
              <span><%= expense.description %>: </span> <span><%= expense.amount %>Ft</span>
            </div>
          <%});%>
        </div>
    </div>

    <div class="spending-circle">
      <svg class="loading-circle" viewBox="0 0 100 100">
        <circle class="background-circle" cx="50" cy="50" r="45"></circle>
        <circle class="progress-circle" id="progress-circle" cx="50" cy="50" r="45"></circle>
        <text x="50" y="50" text-anchor="middle" alignment-baseline="middle" class="loading-text" id="spending-text"><%= spending%> Ft</text>
      </svg>
    </div>

    <div class="balance">
      <h3>Egyenleged</h3>
      <div class="balance-box">
        <span id="balanceAmount"><%= budget%> Ft</span>
        <button id="add-money" onclick="changeMenuState('set-budget-menu')">
            <img src="/img/edit.svg" alt="edit button">
        </button>
      </div>
      <br>
      <h3>Tranzakció hozzáadása</h3>
      <button class="add-transaction" onclick="changeMenuState('add-expense-menu')">Add hozzá</button>
    </div>
  </main>
</div>

<!-- Add Kiadas -->

<div class="popup" id="add-expense-menu" style="display: none;">
  <form onsubmit="addTransaction(event)" id="add-expense-form">
    <label for="description">Leírás</label>
    <input type="text" name="description">
    <label for="amount">Ár</label>
    <input type="number" name="amount">
    <label for="category">Kategória</label>
    <input type="text" name="category">
    <p id="expense-error" class="error"></p>
    <button type="submit">Hozzáadása</button>
  </form>
  <button onclick="changeMenuState('add-expense-menu')">X</button>
</div>

<!-- Set Balance -->

<div class="popup" id="set-budget-menu" style="display: none;">
  <form onsubmit="setBudget(event)" id="set-budget-form">
    <label for="budget">Egyenleged</label>
    <input type="number" name="budget">
    <p id="budget-error" class="error"></p>
    <button type="submit">Beállítás</button>
  </form>
  <button onclick="changeMenuState('set-budget-menu')">X</button>
</div>

<!-- Profile -->

<div class="popup" id="profile-menu" style="display: none;">
  <form onsubmit="changePassword(event)" id="change-password-form">
    <input type="password" name="password" required placeholder="Jelszó">
    <input type="password" name="new-password" required placeholder="Új jelszó">
    <input type="password" name="new-password-again" required placeholder="Jelszó újra">
    <p id="profile-error" class="error"></p>
    <button type="submit">Módosítás</button>
  </form>
  <button onclick="changeMenuState('profile-menu')">X</button>
</div>

<script src="/js/main.js"></script>
<script src="/js/circle.js"></script>
<script>
  const spending = <%= JSON.stringify(spending) %>;
  const budget = <%= JSON.stringify(budget) %>;
  if(spending > budget){
    setProgress(100);
  }else {
    setProgress(spending/budget)
  }
    
</script>
</body>
</html>