<%- include('./include/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
    <link href='https://fonts.googleapis.com/css?family=Kameron' rel='stylesheet'>
    <title>Kiadások</title>
    <style>
      body{
        font-family: 'Kameron';
         font-size: 22px;
      }
    </style>
</head>
<%- include('./include/navigation.ejs' ) %>
<body>
  <div class="headline">
    <h1>
      Üdvözlünk az oldalon, <%= username %>.
    </h1>
  </div>
  <main>
    <div class="transactions">
      <h2>Tranzakciók</h2>
        <div class="transaction-list">
          <% expenses.forEach(expense => {%>
            <div class="row">
              <span><%= expense.description %>: </span> <span><%= expense.amount %>Ft</span>
            </div>
          <%});%>
        </div>
    </div>

    <div class="spending-circle">
      <svg class="loading-circle" viewBox="0 0 100 100">
        <!-- Background Circle -->
        <circle class="background-circle" cx="50" cy="50" r="45"></circle>
        <!-- Progress Circle -->
        <circle class="progress-circle" cx="50" cy="50" r="45"></circle>
      </svg>
    </div>

    <div class="balance">
      <h3>Egyenleged</h3>
      <div class="balance-box">
        <span id="balanceAmount">0 Ft</span>
        <button id="add-money" onclick="addTransaction()">+</button>
      </div>
      <br>
      <h3>Tranzakció hozzáadása</h3>
      <button class="add-transaction" onclick="addTransaction()">Add hozzá</button>
    </div>
  </main>
</div>

<!--POP UP PROFILSZERKESZTES-->

<div id="passwordModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closePasswordModal()">&times;</span>
    <h2>Jelszó megváltoztatása</h2>
    <form id="passwordForm" onsubmit="return changePassword()">
      <label for="newPassword">Új jelszó:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <label for="confirmPassword">Jelszó megerősítése:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
      <button type="submit">Mentés</button>
    </form>
  </div>
</div>

<script src="/js/main.js"></script>
<script src="/js/circle.js"></script>
</body>
</html>